body {
    margin: 0;
    margin-top: 10px;
    padding-top: 60px; /* padding that compensates height of a fixed header */
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

#main {
    display: flex;
    flex-flow: row wrap;
    max-width: 1000px;
    background-color: whitesmoke;
    padding: 10px;
    margin: 0 auto;

    align-items: flex-start;
    justify-content: center;
}

#cam-area {
    flex: 3;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

    transition-duration: 0.2s;
    transition-property: box-shadow;
}

#overlay-selection {
    border-radius: 2px;
    overflow: auto;
    margin: 5px;
    padding: 5px;
    max-height: 720px;

    align-items: center;

    background-color: white;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

#user-pictures {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;

    align-items: center;
    justify-content: center;
}

.control-buttons {
    padding: 8px;
    font-size: 14px;
    color: #505050;
}

.control-buttons button {
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: #fd746c;
    color: white;
}

.control-buttons button:hover {
    cursor: pointer;
}

.img-result {
    width: 300px;
    margin: 10px;
}

.overlay-container {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid whitesmoke;

    align-items: center;
    justify-content: center;
}

.overlay-name {
    text-align: center;
    margin: 16px;
    font-size: 14px;
}

.overlay-img {
    width: 100%;
}

.msg-file-selected {
    text-align: center;
    color: #505050;
}

#canvas {
    display: none;
}

#snap {
    width: 100%;
    height: 100px;
    outline: none;
    border: none;
    font-size: 14px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #fd746c;
    background: -moz-linear-gradient(left, #fd746c 0%, #ff9068 100%);
    background: -webkit-linear-gradient(left, #fd746c 0%, #ff9068 100%);
    background: linear-gradient(left, #fd746c 0%, #ff9068 100%);

    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

#snap:hover
{
    cursor: pointer;
    background-color: #fd746c;
    background: -moz-linear-gradient(right, #fd746c 0%, #ff9068 100%);
    background: -webkit-linear-gradient(right, #fd746c 0%, #ff9068 100%);
    background: linear-gradient(right, #fd746c 0%, #ff9068 100%);
}

#cam-icon {
    width: 42px;
    height: auto;
}

#cam-div video {
    width: 100%;
}

#thumbnails {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: fit-content;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.hm {
    overflow: scroll;
    width: 100%;
    height: 700px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #e1e1e1;
}

hr {
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: whitesmoke;
}

@media (min-width: 800px) {

    #overlay-selection {
        flex: 0.8;
    }

}

footer {
    margin-top: 20px;
    padding: 10px;
    color: #999999;
    font-size: 12px;
    background-color: #ebebeb;
    text-align: center;
}

@media (max-width: 799px) {

    #main {
        flex-flow: column;
        align-items: center;
    }

    .overlay-img {
        width: auto;
        height: 100px;
    }

}