body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 60px; /* padding that compensates height of a fixed header */
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.msg-success {
    padding: 24px;
    border: 1px solid lightgreen;
    background-color: rgba(144, 238, 144, 0.5);
}

.p-error-msg {
    margin: 0;
    padding: 8px;
    font-size: 14px;
    color: orangered;
    text-align: center;
    border: 1px #ddd solid;
    border-radius: 2px;
    background-color: white;
}

.error-list {
    list-style: none;
    border: 1px #ddd solid;
    border-radius: 2px;
    padding: 8px 12px;
    background-color: white;
}

.error-list li {
    color: orangered;
}

.form-main {
    padding: 24px;
}

.form-main form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: fit-content;
}

.form-main h1 {
    font-family: 'Roboto', sans-serif;
    color: #505050;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-top: 0;
}

.p-bottom-text-small {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0;
    color: rgb(120, 120, 120);
}

.form-main input {
    width: 250px;
    height: 40px;
    padding-left: 10px;
    font-size: 12px;
    border: none;
    outline: none;
    border-radius: 4px;
    margin-top: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);

    transition-duration: 0.2s;
    transition-property: box-shadow;
}

.form-main input:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.form-main input:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.form-main button {
    width: 250px;
    height: 40px;
    font-size: 12px;
    margin-top: 20px;
    border-radius: 4px;
    border: none;
    background-color: #fd746c;
    background: -moz-linear-gradient(left, #fd746c 0%, #ff9068 100%);
    background: -webkit-linear-gradient(left, #fd746c 0%, #ff9068 100%);
    background: linear-gradient(left, #fd746c 0%, #ff9068 100%);
    color: white;

    transition-duration: 0.2s;
    transition-property: background-color, border;
}

.form-main button:hover {
    cursor: pointer;
    background-color: #fd746c;
    background: -moz-linear-gradient(right, #fd746c 0%, #ff9068 100%);
    background: -webkit-linear-gradient(right, #fd746c 0%, #ff9068 100%);
    background: linear-gradient(right, #fd746c 0%, #ff9068 100%);
}

footer {
    margin-top: 20px;
    padding: 10px;
    color: #999999;
    font-size: 12px;
    background-color: #ebebeb;
    text-align: center;
}